In [200]:
import pandas as pd
import sklearn.model_selection as skl
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [201]:
df = pd.read_csv("/Users/alexandermichaeltjhin/Everything/Repos/churn/Churn_data.csv")
df = df.drop(['customerID'], axis=1)
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [202]:
df['TotalCharges'] = df['TotalCharges'].replace([' '],0)
df['TotalCharges'] = df['TotalCharges'].astype(float)
df['TotalCharges'].astype(float).values.any()

change = filter(lambda x: x not in ['tenure', 'MonthlyCharges','TotalCharges'], list(df.columns[:]))

for col_name in list(change):
    df[col_name] = df[col_name].factorize()[0]

#df.loc[~df['TotalCharges'].astype(str).str.isdigit(), 'TotalCharges'].tolist()
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,29.85,29.85,0
1,1,0,1,0,34,1,1,0,1,1,1,0,0,0,1,1,1,56.95,1889.50,0
2,1,0,1,0,2,1,1,0,1,0,0,0,0,0,0,0,1,53.85,108.15,1
3,1,0,1,0,45,0,0,0,1,1,1,1,0,0,1,1,2,42.30,1840.75,0
4,0,0,1,0,2,1,1,1,0,1,0,0,0,0,0,0,0,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,0,1,24,1,2,0,1,1,1,1,1,1,1,0,1,84.80,1990.50,0
7039,0,0,0,1,72,1,2,1,0,0,1,0,1,1,1,0,3,103.20,7362.90,0
7040,0,0,0,1,11,0,0,0,1,1,0,0,0,0,0,0,0,29.60,346.45,0
7041,1,1,0,0,4,1,2,1,0,1,0,0,0,0,0,0,1,74.40,306.60,1
7042,1,0,1,0,66,1,1,1,1,1,1,1,1,1,2,0,2,105.65,6844.50,0

In [203]:
X = df.iloc[:,df.columns!='Churn']
y = df['Churn']
X_test, X_train, y_test, y_train = skl.train_test_split(X,y,random_state=1, train_size=0.2)

In [204]:
#Build
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)

#Test
y_pred = knn.predict(X_test)
print("Test set predictions:\n {}".format(y_pred))
print("Test set score (np.mean): {:.2f}".format(np.mean(y_pred == y_test)))
print("Test set score (knn.score): {:.2f}".format(knn.score(X_test, y_test)))

Test set predictions:
 [1 0 1 ... 0 1 0]
Test set score (np.mean): 0.70
Test set score (knn.score): 0.70